#wiggle{
    animation: myWiggle 5s;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 60px;
    /* box-shadow: 5px 5px 8px navy;
    background-color: lightblue; */
    text-shadow: 5px 5px 8px navy;
    text-align: center;
    margin-left: -350px;
  }
  @keyframes myWiggle{
      0%{transform: rotate(360deg);}
      /* 50%{transform: rotate(180deg);}
      100%{transform: rotate(360deg);} */
  }
.contain{
    margin-top: 70px;
    margin-left: 400px;
} 
.bg-image{
  position: relative;
  text-align: center;
  color: black;
}
.top-left{
  position: absolute;
  top: 8px;
  left: 16px;
  text-align: left;
  margin-left: -20px;
}
.center{
  position: absolute;
  top:260px ;
  left:40px;
  text-align: justify;
}
img{
  width: 800px;
  margin-left: -60px;
}
p{
  font-size: 23px;
  font-family: 'Kalam', cursive;
}
#address{
  font-size: 20px;
}
.bottom-right{
  position: absolute;
  top: 1050px;
  right: 16px;
}
body{
  background-image: linear-gradient(to right,#9AAB89, #9AAB89,  #9AAB89,  #9AAB89,  #9AAB89 )
}
.adjust{
  margin-left: -60px;
}
.wavy {
  position: relative;
  margin-left: -20px;
  text-shadow: 5px 5px 8px rgb(94, 94, 173);
  font-family: 'Helvetica';
  font-size: 25px;
  margin-bottom: 20px;
}

.wavy span {
  position: relative;
  display: inline-block;
  color: rgb(53, 48, 145);
  font-size: 2em;
  text-transform: uppercase;
  animation: animate 6s ease-in-out ;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0% {
      transform: translateY(0px);
  }

  20% {
      transform: translateY(-20px);
  }

  40%,
  100% {
      transform: translateY(0px);
  }
}
.balloon {
  display:inline-block;
   width:100px;
  height:125px;
  background:hsl(215,50%,65%);
  border-radius:80%;
  position:relative;
  box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
  margin:20px 30px;
  transition:transform 0.5s ease;
  z-index:10;
  animation:balloons 4s ease-in-out infinite;
  transform-origin:bottom center;
  margin-left: -15px;
}

@keyframes balloons {
  0%,100%{ transform:translateY(0) rotate(-4deg); }
  50%{ transform:translateY(-25px) rotate(4deg); }
}


.balloon:before {
  content:"▲";
  font-size:20px;
  color:hsl(215,30%,50%);
  display:block;
  text-align:center;
  width:100%;
  position:absolute;
  bottom:-12px;
  z-index:-100;
}

 .balloon:after {
 display:inline-block; top:153px;
  position:absolute;
  height:250px;
  width:1px;
  /* margin:0 auto; */
  margin-left: 48px;
  margin-top: -20px;
  content:"";
  background:rgba(0,0,0,0.2); 
} 

.balloon:nth-child(2){ background:hsl(245,40%,65%); animation-duration:3.5s; }
.balloon:nth-child(2):before { color:hsl(245,40%,65%);  }

.balloon:nth-child(3){ background:hsl(139,50%,60%); animation-duration:3s; }
.balloon:nth-child(3):before { color:hsl(139,30%,50%);  }

.balloon:nth-child(4){ background:hsl(59,50%,58%); animation-duration:4.5s; }
.balloon:nth-child(4):before { color:hsl(59,30%,52%);  }

.balloon:nth-child(5){ background:hsl(23,55%,57%); animation-duration:5s; }
.balloon:nth-child(5):before { color:hsl(23,44%,46%);  }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .container {
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 8px;
  box-shadow: 0 20px 45px rgba(120, 76, 10, 0.25);
} */
.cake {
  width: 100%;
  position: absolute;
  top: 60px;
  transform: rotate(15deg);
}
.bottom-layer,
.top-layer,
.middle-layer {
  height: 80px;
  width: 240px;
  position: relative;
  margin: auto;
  background-repeat: repeat;
  background-size: 100% 100%, 60px 100px;
  background-position: 28px 0;
  background-image: linear-gradient(
      transparent 50px,
      #e3a953 50px,
      #e3a953 60px,
      transparent 60px
    ),
    radial-gradient(circle at 30px 5px, #713e16 30px, #eac284 31px);
}
.middle-layer {
  transform: scale(0.85);
  top: 72px;
  animation: rise-1 2s forwards;
}
@keyframes rise-1 {
  100% {
    top: 7px;
  }
}
.top-layer {
  transform: scale(0.7);
  top: 144px;
  animation: rise-2 2s 2s forwards;
}
@keyframes rise-2 {
  100% {
    top: 26px;
  }
}
.candle {
  background: repeating-linear-gradient(
    45deg,
    #fd3018 0,
    #fd3018 5px,
    #ffa89e 5px,
    #ffa89e 10px
  );
  height: 45px;
  width: 15px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  animation: rise-3 1s 4s forwards;
}
@keyframes rise-3 {
  100% {
    bottom: 202px;
    /* transform: rotate(10deg); */
  }
}
.candle:after {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #ffee54;
  border-radius: 0 50% 50% 50%;
  transform: scale(0) rotate(45deg);
  bottom: 50px;
  left: -0.5px;
  animation: flame 1.5s 5s forwards;
}
@keyframes flame {
  100% {
    transform: scale(1) rotate(45deg);
  }
}
#try{
  width: 900px;
  height: 400px;
  margin-left: 30px;
}
#tryind{
  width: 900px;
  height: 400px;
  margin-left: 30px;
}
#trymex{
  width: 900px;
  height: 400px;
  margin-left: 10px;
}
#trysaf{
  width: 900px;
  height: 400px;
  margin-left: 30px;
}
#tryuk{
  width: 900px;
  height: 400px;
  margin-left: 30px;
}
.box{
  margin-bottom: 40px;
  margin-right: 30px;
}